<div id="wrapper">

  <div id="headcontainer">
    <header>
      <h1>Brew Bar Baz</h1>
      <h3 class="explore">Explore breweries by city</h3>
      <div class="introtext">
        <div class="container">
          <form action="/" method="post">
            <input type="text" name="locality" placeholder="San Francisco">
            <input id="locality-button" type="submit"><br><br>
          </form>
        </div>
        <h4 class="explore">Check out the code on <a href="https://github.com/evansimoni/brew_bar_baz">GitHub</a></h4>
      </div>
    </header>
  </div>

  <div id="maincontentcontainer">

    <div id="maincontent">
      <% if @breweries %>
      <% @breweries.each do |brewery| %>
      <div id="<%= brewery["breweryId"] %>" class="section group" >

        <h2>
          <a href="<%= brewery["website"] %>"><%= brewery["brewery"]["name"] %></a>
        </h2>

        <div class="col span_3_of_6">
          <p>
            <%= brewery["brewery"]["description"] %>
          </p>
          <h5>
            <%= brewery["streetAddress"] %><br>
            <%= brewery["phone"] %>
          </h5>
        </div>

        <div class="col span_2_of_6">
          <% if brewery["brewery"]["images"] %>
          <img src="<%= brewery["brewery"]["images"]["medium"] %>">
          <% end %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>

  </div>

</div>
